
/* variables  */
:root
{
  --primaryc: #3585ff;
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}


/* dark mode feturres custom styliing */
.darkthemTxt{
  color: #fff;
}
.lightthemTxt{
  color: #333333;
}
.lightThemebg{
  background: #fff;
}
.darkThemebg{
  background: #020617;
  /* border-bottom: 2px solid #a6c6f5; */

}

li{
  list-style: none;
}

.width80{
  width:80%;
  margin: 0 auto;
}


